<html>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <head>
        <title>Visualização de Canhoto</title>
        <meta name="viewport" content="width=device-width; height=device-height;">
        <link rel="stylesheet" href="resource://content-accessible/ImageDocument.css">
        <link rel="stylesheet" href="resource://content-accessible/TopLevelImageDocument.css">
        <link rel="stylesheet" href="chrome://global/skin/media/TopLevelImageDocument.css">
        <style>
            .shrinkToFit {
                height: auto;
                width: 100%;
            }
            .rotated {
                transform: rotate(180deg);
            }
        </style>
        <script src="../../js/canhoto-view-js.js" defer></script>
    </head>
    <body>
        <img alt="http://localhost:8080/2.0/module-canhotos-intranet/cnt-files/images/scanner/scanner-2/wesley.candido/process/canhoto-nota-26-01-2022-09-10-40-000006.jpeg" id="image" onClick="onImageClick(this)" class="shrinkToFit">
    </body>
</html>