#tesseract-check-panel,
body,
#liberarTessa {
    width: 100%;
    height: 100%;
}
#tesseract-check-panel {
    hr {
        width: 100%;
    }
    #liberarTessa {
        display: flex;
        flex-direction: column;
    }
    h3 {
        text-align: center;
        margin-top: 1.5rem;
    }
    #tesseractForm {
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .card {
            margin: 0.5rem !important;
        }
    }
    #imagesArea {
        img {
            margin: 0.5rem 0;
        }
    }
}
